<div class="sidebar">
        
  <div class="sidebar-section">
      <h5><span>Publications</span></h5>
      <ul style="list-none;">
      <li><a target="_blank" href="https://taih20.github.io/papers/5/CameraReady/AAAI_2021.pdf">Super Learner Model to Detect Abnormalities - OCT and blood smear imaging case studies (35th AAAI 2021)</a></li>
      <li><a target="blank" href="https://ieeexplore.ieee.org/document/9183103">OCTx: Ensembled Deep Learning Model to Detect Retinal Disorders (33rd IEEE CBMS)</a></li>
      <li><a target="blank" href="https://link.springer.com/chapter/10.1007/978-981-15-7965-3_10">A Robust Approach With Text Analytics for Bengali Digit Recognition</a></li>
      </ul>
  </div>
      
  <div class="sidebar-section">
    <div class="wrap-profile-img-sidebar">
      <img src="{{ site.baseurl }}/assets/images/download (3).png" class="rounded-circle profile-img-sidebar" alt="Dipam Paul">
    </div>
    <h5><span>Dipam Paul</span>
    <div class="wrap-profile-img-sidebar">
      <p>RA @ CMU, EmoryU</p>
    </div>  
  </div>

</div>
